<div class="wrapper">
<h2>Login</h2>
<form action="/auth/login" method="post">
  <link rel="stylesheet" href="style.css">

    <div class="input-field">
    <input type="text" id="username" name="username" required>
    <label for="username">Username:</label>
  </div>
 
    <div class="input-field">
    <input type="password" id="password" name="password" required>
    <label for="password">Password:</label>
  </div>
  <button type="submit">Login</button>
  <div class="register">
    <p>Don't have an account? <a href="/register">Register</a></p>
  </div>
</form>
</div>